{% load static %}

<section id="services">
    <div class="bg-primary text-center py-5 mb-4">
        <div class="container">
          <h1 class="fw-light text-white">Services</h1>
          <p class="overview">We provide compassionate and expert care to our community. You are at the center of everything we do. Let us be your healthcare partner.</p>
        </div>
      </div>
    <div class="container">
      <div class="row">
        <!-- Team Member 1 -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-0 shadow">
            <img src="{% static '/img/service1.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title mb-0">Primary Care</h5>
              <div class="card-text text-black-50">Your personalized medical professionals.</div>
            </div>
          </div>
        </div>
        <!-- Team Member 2 -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-0 shadow">
            <img src="{% static '/img/service2.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title mb-0">Dermatology</h5>
              <div class="card-text text-black-50">Your skin care made easy.</div>
            </div>
          </div>
        </div>
        <!-- Team Member 3 -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-0 shadow">
            <img src="{% static '/img/service3.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title mb-0">Team Member</h5>
              <div class="card-text text-black-50">Web Developer</div>
            </div>
          </div>
        </div>
        <!-- Team Member 4 -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-0 shadow">
            <img src="{% static '/img/service4.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title mb-0">PrEP Therapy</h5>
              <div class="card-text text-black-50">Stay safe if you are at high exposure of HIV.</div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
    
    </div>
  </section>